/* add your styles here */
.imageContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .imageContainer img {
    width: 700px;
    height: auto;
    margin: 10px;
  }

  h2{
    text-align: center;
  }